In [1]:
"This is a string"

'This is a string'

In [2]:
s = "this is a string"
s

'this is a string'

# concatenation :

In [3]:
"this is " + "a string"

'this is a string'

In [4]:
s1 = "this is "
s2 = "a string"
print(s1)
print(s2)
print(s1+s2)

this is
a string
this is a string

In [6]:
"22" + "2"

'22'

In [7]:
"22" + 2

TypeError: can only concatenate str (not "int") to str

# Repeatation

In [9]:
print("spam" * 3)

spamspamspam

In [10]:
4 * '2'

'2222'

In [11]:
'17' * '87'

TypeError: can't multiply sequence by non-int of type 'str'

In [12]:
pythonisfun' * 7.0

SyntaxError: EOL while scanning string literal (3896379598.py, line 1)

# string formatting :

format() is used to concat or include types other than str() 

the part need to be faromated is enclosed inside {}

In [13]:
msg = "My self score on PHP: {0}, Python: {1}, Java: {2}, Swift: {3}". format(6, 6.5, 5, 6)

print(msg)

My self score on PHP: 6, Python: 6.5, Java: 5, Swift: 6

In [15]:
>>> '{2}, {1}, {0}'.format('a', 'b', 'c')
'c, b, a'
>>> '{0}{1}{0}'.format('abra', 'cad')
'abracadabra'

'abracadabra'

In [16]:
message = "If x = {x} and y = {y}, then x+y = {z}".format(x = 20, y = 300, z = 20+300)

print(message)

If x = 20 and y = 300, then x+y = 320

# some useful functions

join()

In [17]:
print(", ".join(["apple", "orange", "pineapple"]))

apple, orange, pineapple

replace()

In [18]:
print("Hello ME".replace("ME", "world"))

Hello world

startswith() and endswith()

In [20]:
print("This is a sentence.".startswith("This"))
# prints "True"

print("This is a sentence.".endswith("sentence."))
# prints "True"

True
True

upper() and lower()

In [21]:
print("This is a sentence.".upper())
# prints "THIS IS A SENTENCE."

print("AN ALL CAPS SENTENCE".lower())
#prints "an all caps sentence"

THIS IS A SENTENCE.
an all caps sentence

split()

In [22]:
print("a, e, i, o, u".split(", "))

['a', 'e', 'i', 'o', 'u']