In [ ]:
This notebook demonstates the use of None, string data type, basic input - output e.t.c

# None data type

In [1]:
print(type(None) )

<class 'NoneType'>

In [7]:
None == False

False

In [8]:
None == ""

False

In [9]:
None == []

False

In [10]:
None == 0

False

In [11]:
None == None

True

In [12]:
a = None

In [13]:
a == None

True

In [14]:
print(a)

None

When the funcion does not return anything , we get None if we store this in a variable

In [16]:
def my_func():
    print("Printing Hello")

what_i_got = my_func()
print(what_i_got)

Printing Hello
None

# string 
In python, string is defined as a sequence of characters such as uppercase (A to Z),

lowercase(a to z), digits (0 to 9) , ' ' (space) and some special characters  

the characters are enclosed inside two single (' '), double (" ") or triple quotes (""" """)

In [18]:
"We love python!"

'We love python!'

In [19]:
'The most popular general purpose programming language'

'The most popular general purpose programming language'

In [22]:
s = """
This 
is
a
multiline 
string
"""
print(s)

This
is
a
multiline
string

To include quotes or some special characters inside string, sometimes we need to add some escape sequence

In [24]:
'Brian\'s mother: He\'s not the Messiah. He\'s a very naughty boy!'

"Brian's mother: He's not the Messiah. He's a very naughty boy!"

input() :  used to take  input in python

In [30]:
input("Give me your country name: ")

Give me your country name: Bangladesh

'Bangladesh'

print() : to print anything

In [32]:
print('Name: Bangladeash\nPopulation: 156.6M')

Name: Bangladeash
Population: 156.6M

# Reference

https://python.howtocode.dev/data-types/none

https://python.howtocode.dev/basic-concept/string